.none {
  display: none;
}
.header {
  height: 3rem;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .App {
  }

  .header {
    padding: 2rem;
  }
}

.searchbarDiv {
  margin-top: 3rem;
}

.searchbar {
  border-style: none;
  background: rgba(0, 0, 0, 0.03);
  outline: 0;
  width: 20%;
  margin: 0 auto;
  height: 3.5rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: all 0.2s;
}

.searchbar:focus {
  width: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.pokecardsdiv {
  margin: 1rem;
  margin-top: 3rem;
  text-align: center;
  
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  
}

.sidebar {
  max-width: 20%;
  height: 80vh;

  background: rgba(0, 0, 0, 0.03);

  position: fixed;
  top: 8rem;


  margin: 0 1rem;
  margin-bottom: 2rem;
  transition: all 0.5s;
}
.sideHeading {
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.05);
  width: 80%;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 1rem;
}

.generations {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  margin: 1rem 0;
}
.gens {
  user-select: none;
  list-style: none;
  border: none;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(107, 157, 171, 1) 23.8%,
    rgba(92, 122, 158, 1) 66%
  );
  color: white;
  border-radius: 5px;
  padding: 1rem;
  outline: 0;
  cursor: pointer;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  margin: 1rem 0;
}
.gens:not(:last-child) {
  margin-right: 3rem;
}

.gens:hover {
  transform: translateY(-0.35rem);
}

.gens:active {
  transform: translate(0);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.types {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  padding:0 .6rem; 
}
.pills {
  user-select: none;
  list-style: none;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 1rem;
  outline: 0;
  cursor: pointer;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  margin: 1rem 0;
}

.pills:not(:last-child) {
  margin-right: 3rem;
}

.pills:first-child {
  margin-left: 1rem;
}

.pills:hover {
  transform: translateY(-0.35rem);
}

.pills:active {
  transform: translate(0);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.pillGrass {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(128, 248, 174, 1) 0%,
    rgba(223, 244, 148, 1) 90%
  );
}

.pillFire {
  background: linear-gradient(
    to right,
    rgb(242, 112, 156, 0.8),
    rgb(255, 148, 114, 0.8)
  );
}
.pillWater {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(87, 152, 235, 1) 0%,
    rgba(133, 222, 213, 1) 67%
  );
}
.pillPoison {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.pillFlying {
}
.pillGround {
}
.pillBug {
}
.pillGhost {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 0.4) 0%,
    rgba(32, 45, 58, 0.8) 81.3%
  );
  color: white;
}

.pillNormal {
  background-image: radial-gradient(
    circle 328px at 2.9% 15%,
    rgba(191, 224, 251, 1) 0%,
    rgba(232, 233, 251, 1) 25.8%,
    rgba(252, 239, 250, 1) 50.8%,
    rgba(234, 251, 251, 1) 77.6%,
    rgba(240, 251, 244, 1) 100.7%
  );
}

.pillElectric {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 200, 124, 1) 0%,
    rgba(252, 251, 121, 1) 90%
  );
}
.pillFairy {
}
.pillFighting {
}

.pillPsychic {
}
.pillSteel {
}

.pillIce {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 249, 0.6) 0%,
    rgba(160, 199, 254, 1) 74.6%
  );
}

.pillDragon {
}

.pillDark {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 0.4) 0%,
    rgba(32, 45, 58, 0.8) 81.3%
  );
  color: white;
}
.pokecards {
  text-align: center;

  width: 80%;

  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  
}

.toggle {
  width: 3rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 150;
  display: none;
}

.toggleLi {
  width: 3rem;
  height: 0.5rem;
  margin: 0.3rem 0;
  background: #777;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .header {
    font-size: 2.5rem;
    margin-top: -1rem;
    margin-left: 2rem;
  }
  .pokecardsdiv {
  }

  .pokecards {
    width: 100%;
  }

  

  
  .searchbarDiv {
    margin-top: 8rem;
  }

  .searchbar {
    width: 50%;
  }

  .searchbar:focus {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  
  .pokecardsdiv {
    margin: 0;
  }

  .pokecards {
    margin: 0;
  }
  .sidebar {
    max-width: 25%;
    height: 80vh;
  }

  .pills {
    margin-top: 2.5rem;
  }
}

@media (max-width: 972px) {
  .toggle {
    display: block;
    position: fixed;
  }
  .pokecardsdiv {
    margin: 0;
  }

  .pokecards {
    margin: 0;
  }
  .sidebar {
    display: none;
  }

  .gens {
  }

  .pills {
    margin-top: 2.5rem;
  }
}






@media (max-width:768px){
  .pokecards{
    width: 95%;
    margin: auto;
  }
 
}

@media (min-width:973px){
  .pokecards{
    margin-left: 26%;
    margin-right: 0;
  }

  .sidebar {
    margin: 0;
  }
}

@media (min-width:1200px){
  .pokecards{
    margin-left: 22%;
  }

}



