.footer {
    display: flex;
    flex-direction: row;
    height: 6rem;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 1rem;
    
  }
  
  .footerli {
    user-select: none;
    list-style-type: none;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(107, 157, 171, 1) 23.8%,
      rgba(92, 122, 158, 1) 66%
    );
    color: white;
    min-width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
  }
  .footerli:hover {
    transform: translateY(-0.35rem);
  }
  
  .footerli:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  .footerli:not(:last-child) {
    margin-right: 5rem;
  }

  @media (max-width:480px){
    .footer {
      
      flex-wrap: wrap;
      margin: 2.2rem;
      height: 20rem;

    }

    .footerli {
      margin-top: 1rem;
      
    }

    .footerli:not(:last-child) {
      margin-right: 1rem;
     
    }

    .footerli:hover {
      transform: translateY(0);
    }
  }

  @media (max-width:768px){
    .footer {
      width: 95%;

      flex-wrap: wrap;
      margin: 2.2rem auto;
      height: 15rem;

    }

    .footerli {
      margin-top: 1rem;
      
    }

    .footerli:not(:last-child) {
      margin-right: 1rem;
     
    }

    .footerli:hover {
      transform: translateY(0);
    }
  }

  @media (min-width:768px){
    .footer {
      width: 95%;

      flex-wrap: wrap;
      margin: 2.2rem auto;
      height: 15rem;

    }
  }

  