*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

html {
  font-size: 62.5%;
  
}

body {
  box-sizing: border-box;
  padding: 3rem;
  font-size: 1.6rem;
  color: #777;
  overflow-x: hidden;
    
}

/* @media (max-width:480px){
  body{
    padding:0;
  }
} */

@media (max-width:972px){
  body{
    padding:0;
  }
}
